:root {
  --accent-color: #2196f3;
  --back-color: #ffffff;
  --border-line: #ececec;
  --text-color: #212121;
  --black-black: #000000;
  --gray-type: #757575;
  --hero-footer: #2f303a;
  --widgets-link-background-color: #f5f4fa;
  --border-card-content: #eeeeee;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --paragraph-font-size: 16px;
  --paragraph-menu-font-size: 14px;
  --shadow-one: rgba(0, 0, 0, 0.12);
  --shadow-two: rgba(0, 0, 0, 0.14);
  --shadow-three: rgba(0, 0, 0, 0.2);
  --shadow-hero-button: rgba(0, 0, 0, 0.15);
  --margin: 30px;
  --background-hero: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --social-links-bg-f: rgba(255, 255, 255, 0.1);
  --social-background: #afb1b8;
  --hero-button-hover-color: #188ce8;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --porfolio-nav-link-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-flex-element-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --job-img-overlay-bg-color: rgba(47, 48, 58, 0.8);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-button-hover-color: #188ce8;
  --modal-button-border: rgba(0, 0, 0, 0.1);
  --modal-form-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --textaria-text-color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul,
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--accent-color);
  cursor: pointer;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: var(--back-color);
}

.social-link-list {
  display: flex;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--social-links-bg-f);
  transition: background-color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--title-text-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 750ms var(--cubic);
}

.social-link-list {
  justify-content: center;
}

.social-link-icon {
  color: var(--social-background);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--shadow-three);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-container {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--back-color);
  border-bottom: 1px solid var(--border-line);
}

.hader-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-right: 50px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item-link {
  display: flex;
  align-items: center;
  align-content: center;
}

.cont {
  margin-left: auto;
}

.menu-item-link {
  display: block;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: auto;
  transition: fill 250ms var(--cubic);
}

.menu-item-link {
  position: relative;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--accent-color);
}

.menu-item-link:hover .menu-icons,
.menu-item-link:focus .menu-icons {
  fill: var(--accent-color);
}

.menu-item-link.current {
  color: var(--accent-color);
}

.menu-item-link.cont-link {
  text-align: left;
  color: var(--gray-type);
}

.cont-link:hover,
.cont-link:focus,
.cont-link-map {
  color: var(--accent-color);
}

.menu-icons {
  margin-right: 10px;
  transition: fill 250ms var(--cubic);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.5px;
  top: 53px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  background-color: var(--hero-footer);
  color: var(--back-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  height: 600px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(var(--background-hero), var(--background-hero)), url("../img/hero/Img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-face {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--back-color);
  margin-bottom: 30px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--back-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-hero-button);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  outline: none;
  transition: background-color 1000ms var(--cubic), box-shadow 250ms var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hero-button-hover-color);
  box-shadow: var(--shadow-hero-button);
}

.about-paragraph {
  font-family: var(--main-font);
  font-size: var(--paragraph-menu-font-size);
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--text-color);
}

.description {
  font-family: var(--main-font);
  font-size: var(--paragraph-menu-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}

.about-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-flex-element {
  width: 270px;
}

.about-cards-icon {
  background: #f5f4fa;
  height: 70px;
  color: var(--text-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--widgets-link-background-color);
  margin-bottom: var(--margin);
}

.section-what-we-do {
  padding-top: 0;
}

.whatwedo .team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.whatwedo {
  font-family: var(--font-family);
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.container-whatwedo {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.whatwedo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.whatwedo-img {
  flex-basis: calc((100% - 3 * var(--margin)) / 3);
  margin-top: 50px;
  margin-left: var(--margin);
}

.whatwedo-box {
  position: relative;
}

.activity-list-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-color);
  background-color: var(--job-img-overlay-bg-color);
}

.team-list {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.section-team {
  background-color: var(--widgets-link-background-color);
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list-position {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  color: var(--gray-type);
  margin-bottom: 16px;
}

.team-list {
  font-family: var(--font-family);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--back-text-color);
  margin-bottom: 52px;
}

.team-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.team-list-wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
  background: var(--back-color);
  text-align: center;
  box-shadow: 0px 1px 3px var(--shadow-one), 0px 1px 1px var(--shadow-two), 0px 2px 1px var(--shadow-three);
  border-radius: 0px 0px 4px 4px;
}

.team-text-wrapper {
  background-color: var(--back-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-wrapper {
  text-align: center;
}

.social-link-list {
  display: flex;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--social-links-bg-f);
  transition: background-color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--title-text-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 750ms var(--cubic);
}

.social-link-list {
  justify-content: center;
}

.social-link-icon {
  color: var(--social-background);
}

.our-team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.client-list-items {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-background);
  border-radius: 4px;
  transition: border 750ms var(--cubic);
}

.client-link-icons {
  fill: var(--social-background);
  transition: fill 250ms var(--cubic);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-link:hover .client-link-icons,
.client-link:focus .client-link-icons {
  fill: var(--accent-color);
}

.footer {
  background: var(--hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-menu {
  display: block;
  margin-bottom: 9px;
}

.address-footer {
  /*  padding-bottom: 9px; */
  font-style: normal;
}

.footer-menu-list {
  display: block;
  margin-bottom: 9px;
}

.address {
  font-family: var(--font-family);
  font-size: var(--paragraph-menu-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--back-color);
}

.adress-title {
  font-style: inherit;
  margin-top: 20px;
}

.cont-link {
  text-align: left;
  color: var(--contact-footer);
}

.cont-link:hover,
.cont-link:focus {
  color: var(--accent-color);
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-conteiner-con {
  display: block;
  margin-bottom: 9px;
  margin-right: 70px;
}

.mail-link,
.tel-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-right: auto;
  font-style: normal;
}

.connect {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-color);
  transition: color 250ms var(--cubic);
}

.footer-conteiner-social .connect {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--back-color);
  box-shadow: var(--modal-form-btn-shadow);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 29px;
  cursor: pointer;
  margin-left: 12px;
}

.send-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.footer-form-input {
  display: block;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--title-text-color);
  padding-left: 16px;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-color);
  margin-bottom: 20px;
}

.footer-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form {
  margin-left: 93px;
}

.gallery-portfolio {
  color: var(--back-color);
}

.widgets {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.widgets-item:not(:last-child) {
  margin-right: 8px;
}

.widgets.list {
  display: flex;
}

.widgets.list {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 90px;
}

.nav-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.nav-button {
  font-family: var(--font-family);
  font-size: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  border-style: none;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--accent-color);
  color: var(--back-color);
  box-shadow: var(--porfolio-nav-link-shadow);
  cursor: pointer;
}

.projects-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.projects-links,
.projects-links:visited {
  color: var(--text-color);
}

.projects-blocks:hover,
.projects-blocks:focus {
  box-shadow: var(--portfolio-flex-element-shadow);
}

.projects-blocks {
  flex-basis: calc(100% / 3 - var(--margin));
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.projects-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: var(--back-color);
  border-right: 1px solid var(--border-card-content);
  border-bottom: 1px solid var(--border-card-content);
  border-left: 1px solid var(--border-card-content);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-color);
}

.project-type {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}

.projects-links,
.projects-links:visited {
  color: var(--gray-type);
}

.projects-links.link {
  display: block;
}

.portfolio-over-desc {
  position: relative;
  overflow: hidden;
}

.overlay_portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay-bg-color);
  color: var(--back-color);
  overflow: auto;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  size: 18px;
  line-height: 1.56;
  font-size: var(--main-font);
  letter-spacing: 0.03em;
  font-weight: 400;
}

.projects-blocks:hover .overlay_portfolio,
.projects-blocks:focus .overlay_portfolio {
  transform: translateY(0%);
}

.projects-links:hover .overlay_portfolio,
.projects-links:focus .overlay_portfolio {
  transform: translateY(0%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--back-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-button-border);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-vector {
  width: 11px;
  height: 11px;
  fill: var(--black-black);
  transition: fill 250ms var(--cubic);
}

.close-btn:focus .close-vector,
.close-btn:hover .close-vector {
  fill: var(--accent-color);
}

.modal-form-field {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--gray-type);
  margin-bottom: 10px;
}

.indent {
  margin-bottom: 20px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--cubic);
  margin-top: 4px;
  outline: none;
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:hover + .form-input-icon,
.modal-form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  height: 12px;
  width: 12px;
  fill: var(--text-color);
  transition: fill 250ms var(--cubic);
}

.form-input-icon:hover,
.form-input-icon:focus {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms var(--cubic);
}

.modal-form-message::placeholder {
  color: var(--textaria-text-color);
}

.modal-form-message:hover,
.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../img/iconcheck.svg");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form-checkbox:hover + .modal-form-checkbox-label::before,
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid var(--back-color);
}

/*--check box--*/
.modal-form-label-link {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-label-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  display: block;
  width: 100%;
  height: 0.1px;
  background-color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--widgets-link-background-color);
  background-color: var(--accent-color);
  box-shadow: var(--modal-form-btn-shadow);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 56px;
  border: none;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--hero-button-hover-color);
  box-shadow: var(--modal-form-btn-shadow);
}
/*# sourceMappingURL=main.css.map */