.our-team-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .our-team-list {
    margin-bottom: 50px;
  }
  .client-list {
    display: flex;
    margin-top: calc(-1 * var(--margin));
    margin-left: calc(-1 * var(--margin));
  }
  
  .client-list-items {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: var(--margin);
    margin-left: var(--margin);
  }
  
  .client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-background);
    border-radius: 4px;
    transition: border 750ms var(--cubic);
  }
  
  .client-link-icons {
    fill: var(--social-background);
    transition: fill 250ms var(--cubic);
  }
  
  .client-link:hover,
  .client-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
  
  .client-link:hover .client-link-icons,
  .client-link:focus .client-link-icons {
    fill: var(--accent-color);
  }